:root[data-theme="mocha"] {
    --ctp-base: oklch(0.2429 0.0304 283.9110);
    --ctp-blue: oklch(0.7664 0.1113 259.8850);
    --ctp-crust: oklch(0.1828 0.0204 284.2038);
    --ctp-flamingo: oklch(0.8797 0.0418 17.9750);
    --ctp-green: oklch(0.8577 0.1092 142.7153);
    --ctp-lavender: oklch(0.8166 0.0910 277.3092);
    --ctp-mantle: oklch(0.2155 0.0254 284.0647);
    --ctp-maroon: oklch(0.7821 0.0903 8.8482);
    --ctp-mauve: oklch(0.7871 0.1187 304.7693);
    --ctp-overlay0: oklch(0.5497 0.0345 277.0951);
    --ctp-overlay1: oklch(0.6176 0.0367 276.0047);
    --ctp-overlay2: oklch(0.6865 0.0374 274.7253);
    --ctp-peach: oklch(0.8237 0.1015 52.6294);
    --ctp-pink: oklch(0.8700 0.0752 336.3041);
    --ctp-red: oklch(0.7556 0.1297 2.7642);
    --ctp-rosewater: oklch(0.9226 0.0238 30.4919);
    --ctp-sapphire: oklch(0.7906 0.0965 228.6527);
    --ctp-sky: oklch(0.8467 0.0833 210.2545);
    --ctp-subtext0: oklch(0.7510 0.0396 273.9320);
    --ctp-subtext1: oklch(0.8168 0.0403 272.8622);
    --ctp-surface0: oklch(0.3240 0.0319 281.9784);
    --ctp-surface1: oklch(0.4037 0.0320 280.1520);
    --ctp-surface2: oklch(0.4765 0.0340 278.6430);
    --ctp-teal: oklch(0.8585 0.0792 182.7495);
    --ctp-text: oklch(0.8787 0.0426 272.2767);
    --ctp-yellow: oklch(0.9193 0.0704 86.5281);
}

:root[data-theme="latte"] {
    --ctp-base: oklch(0.9578 0.0058 264.5322);
    --ctp-blue: oklch(0.5586 0.2255 262.0867);
    --ctp-crust: oklch(0.9060 0.0117 264.5071);
    --ctp-flamingo: oklch(0.6856 0.1259 20.8670);
    --ctp-green: oklch(0.6250 0.1772 140.4448);
    --ctp-lavender: oklch(0.6638 0.1751 273.1346);
    --ctp-mantle: oklch(0.9335 0.0087 264.5206);
    --ctp-maroon: oklch(0.6252 0.1967 20.2724);
    --ctp-mauve: oklch(0.5547 0.2503 297.0156);
    --ctp-overlay0: oklch(0.7077 0.0237 274.6008);
    --ctp-overlay1: oklch(0.6536 0.0269 278.1208);
    --ctp-overlay2: oklch(0.6009 0.0305 278.6944);
    --ctp-peach: oklch(0.6920 0.2041 42.4293);
    --ctp-pink: oklch(0.7256 0.1739 338.4333);
    --ctp-red: oklch(0.5505 0.2155 19.8095);
    --ctp-rosewater: oklch(0.7141 0.1045 33.0967);
    --ctp-sapphire: oklch(0.6477 0.1068 212.8893);
    --ctp-sky: oklch(0.6820 0.1448 235.3822);
    --ctp-subtext0: oklch(0.5471 0.0343 279.0837);
    --ctp-subtext1: oklch(0.4920 0.0385 279.2992);
    --ctp-surface0: oklch(0.8575 0.0145 268.4756);
    --ctp-surface1: oklch(0.8083 0.0174 271.1982);
    --ctp-surface2: oklch(0.7584 0.0205 273.1536);
    --ctp-teal: oklch(0.6023 0.0981 201.1047);
    --ctp-text: oklch(0.4355 0.0430 279.3250);
    --ctp-yellow: oklch(0.7140 0.1494 67.7767);
}